version: "3.8"

services:
  flaresolverr:
    build: .
    image: flaresolverr:local
    container_name: flaresolverr
    restart: unless-stopped
    platform: linux/amd64
    environment:
    - LOG_LEVEL=debug
    - AUTO_SESSION_MANAGEMENT=true
    - HEADLESS=false
    - USE_XVFB=false
    - DISPLAY=:99
    - XAUTHORITY=/tmp/.Xauthority
    - VNC_PASSWORD=changeme
    - TZ=America/New_York
    - LANG=en-US.UTF-8
    - PORT=8191
    - PROXY_URL=http://REDACTED_PROXY_HOST
    - PROXY_USERNAME=REDACTED_USER
    - PROXY_PASSWORD=REDACTED_PASS
    ports:
      - "8191:8191"
      - "5900:5900"
      - "6080:6080"
    volumes:
      - ./debug-tmp:/app/tmp
    command: ["/bin/sh", "-c", "/app/start-vnc.sh && /usr/local/bin/python -u /app/flaresolverr.py"]

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./jackett-config:/config
      - ./jackett-downloads:/downloads
    ports:
      - "9117:9117"
    depends_on:
      - flaresolverr
